In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [22]:
df = pd.read_csv("DataSalary.csv")
df.head(10)

   Index  YearsExperience   Salary
0      1              1.1  39343.0
1      2              1.3  46205.0
2      3              1.5  37731.0
3      4              2.0  43525.0
4      5              2.2  39891.0
5      6              2.9  56642.0
6      7              3.0  60150.0
7      8              3.2  54445.0
8      9              3.2  64445.0
9     10              3.7  57189.0

In [33]:
del df['Index']

KeyError: 'Index'

In [35]:
x = df.iloc[:, :-1]
y = df.iloc[:, 1]

In [36]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [38]:
print(x_test)

    YearsExperience
2               1.5
28             10.3
13              4.1
10              3.9
26              9.5
24              8.7
27              9.6
11              4.0
17              5.3

In [28]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train, y_train)

LinearRegression()

In [29]:
y_predict = simplelinearRegression.predict(x_test)

In [30]:
predict = pd.DataFrame(y_predict)

In [31]:
predict.apply(np.round)

          0
0   40818.0
1  123188.0
2   65154.0
3   63282.0
4  115700.0
5  108212.0
6  116636.0
7   64218.0
8   76387.0

In [39]:
i = 1
while i <= 8:
  print("Total number of increase in salary %d ==>" %(i) , int(simplelinearRegression.predict([[i]])))
  i= i+1

Total number of increase in salary 1 ==> 36137
Total number of increase in salary 2 ==> 45497
Total number of increase in salary 3 ==> 54858
Total number of increase in salary 4 ==> 64218
Total number of increase in salary 5 ==> 73578
Total number of increase in salary 6 ==> 82938
Total number of increase in salary 7 ==> 92299
Total number of increase in salary 8 ==> 101659