In [12]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [13]:
df = pd.read_excel("IPL Top 10 experienced players.xlsx",sheet_name = 'Sheet1')
df.head(10)

   IPL Matches  Auctioned Price(in â‚¹ Lacs)
0           61                          1000
1           61                            50
2           69                          1075
3           73                           300
4           75                           440
5           79                            75
6           81                            50
7           85                            50
8           92                           200
9          157                           675

In [14]:
x = df.iloc[:, :-1]
y = df.iloc[:, 1]

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [16]:
print(x_test)

    IPL Matches
4            75
9           157
2            69
10          177

In [17]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train, y_train)

LinearRegression()

In [18]:
y_predict = simplelinearRegression.predict(x_test)

In [19]:
predict = pd.DataFrame(y_predict)

In [20]:
predict.apply(np.round)

        0
0   262.0
1  -976.0
2   352.0
3 -1278.0

In [29]:
i = 1
while i <= 28:
  print(" Auctioned Price for %d player ==>" %(i) , int(simplelinearRegression.predict([[i]])))
  i= i+1

 Auctioned Price for 21 player ==> 1076
 Auctioned Price for 22 player ==> 1061
 Auctioned Price for 23 player ==> 1046
 Auctioned Price for 24 player ==> 1031
 Auctioned Price for 25 player ==> 1016
 Auctioned Price for 26 player ==> 1000
 Auctioned Price for 27 player ==> 985
 Auctioned Price for 28 player ==> 970