In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [17]:
df = pd.read_excel("Agefee.xlsx")
df.head(10)

    age    fee
0  17.0   1.71
1  18.0   9.90
2  18.0  27.00
3  18.0   6.03
4  18.0   2.70
5  18.0   2.25
6  19.0  10.80
7  19.0  24.30
8  19.0  16.47
9  19.0  24.75

In [18]:
df = df.dropna()
print(df)
df.astype(int)

      age    fee
0    17.0   1.71
1    18.0   9.90
2    18.0  27.00
3    18.0   6.03
4    18.0   2.70
..    ...    ...
129  32.0   7.83
130  32.0   7.83
131  33.0   4.50
132  33.0   7.92
133  33.0   7.92

[134 rows x 2 columns]

     age  fee
0     17    1
1     18    9
2     18   27
3     18    6
4     18    2
..   ...  ...
129   32    7
130   32    7
131   33    4
132   33    7
133   33    7

[134 rows x 2 columns]

In [4]:
x = df.iloc[:, :-1]
y = df.iloc[:, 1]

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [6]:
print(x_test)

      age
95   26.0
68   24.0
26   21.0
8    19.0
100  27.0
43   22.0
63   23.0
48   23.0
45   22.0
113  29.0
52   23.0
124  30.0
112  28.0
50   23.0
22   21.0
93   26.0
97   26.0
90   25.0
7    19.0
24   21.0
44   22.0
10   20.0
111  28.0
60   23.0
16   21.0
2    18.0
130  32.0
59   23.0
73   24.0
33   22.0
30   22.0
106  28.0
105  27.0
131  33.0
83   25.0
128  31.0
13   20.0
66   23.0
85   25.0
62   23.0
51   23.0

In [7]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train, y_train)

LinearRegression()

In [8]:
y_predict = simplelinearRegression.predict(x_test)

In [9]:
predict = pd.DataFrame(y_predict)

In [10]:
predict.apply(np.round)

       0
0   16.0
1   17.0
2   17.0
3   17.0
4   16.0
5   17.0
6   17.0
7   17.0
8   17.0
9   16.0
10  17.0
11  16.0
12  16.0
13  17.0
14  17.0
15  16.0
16  16.0
17  17.0
18  17.0
19  17.0
20  17.0
21  17.0
22  16.0
23  17.0
24  17.0
25  17.0
26  16.0
27  17.0
28  17.0
29  17.0
30  17.0
31  16.0
32  16.0
33  16.0
34  17.0
35  16.0
36  17.0
37  17.0
38  17.0
39  17.0
40  17.0

In [15]:
i = 1
while i <= 40:
  print("Predicted salary(in Millions) %d ==>" %(i) , int(simplelinearRegression.predict([[i]])))
  i= i+1

Predicted salary(in Millions) 1 ==> 19
Predicted salary(in Millions) 2 ==> 19
Predicted salary(in Millions) 3 ==> 19
Predicted salary(in Millions) 4 ==> 19
Predicted salary(in Millions) 5 ==> 19
Predicted salary(in Millions) 6 ==> 19
Predicted salary(in Millions) 7 ==> 18
Predicted salary(in Millions) 8 ==> 18
Predicted salary(in Millions) 9 ==> 18
Predicted salary(in Millions) 10 ==> 18
Predicted salary(in Millions) 11 ==> 18
Predicted salary(in Millions) 12 ==> 18
Predicted salary(in Millions) 13 ==> 18
Predicted salary(in Millions) 14 ==> 17
Predicted salary(in Millions) 15 ==> 17
Predicted salary(in Millions) 16 ==> 17
Predicted salary(in Millions) 17 ==> 17
Predicted salary(in Millions) 18 ==> 17
Predicted salary(in Millions) 19 ==> 17
Predicted salary(in Millions) 20 ==> 17
Predicted salary(in Millions) 21 ==> 17
Predicted salary(in Millions) 22 ==> 16
Predicted salary(in Millions) 23 ==> 16
Predicted salary(in Millions) 24 ==> 16
Predicted salary(in Millions) 25 ==> 16
Predicted salary(in Millions) 26 ==> 16
Predicted salary(in Millions) 27 ==> 16
Predicted salary(in Millions) 28 ==> 16
Predicted salary(in Millions) 29 ==> 16
Predicted salary(in Millions) 30 ==> 15
Predicted salary(in Millions) 31 ==> 15
Predicted salary(in Millions) 32 ==> 15
Predicted salary(in Millions) 33 ==> 15
Predicted salary(in Millions) 34 ==> 15
Predicted salary(in Millions) 35 ==> 15
Predicted salary(in Millions) 36 ==> 15
Predicted salary(in Millions) 37 ==> 15
Predicted salary(in Millions) 38 ==> 14
Predicted salary(in Millions) 39 ==> 14
Predicted salary(in Millions) 40 ==> 14

In [19]:
#Thus we can deduce that as age incresases Salary decreases